/*
 * @theme example
 * @auto-scaling true
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
 */

 @font-face {
  font-family: 'Cadman';
  src: url('../../_static/Cadman.woff2') format('woff2'),
       url('../../_static/Cadman.woff') format('woff'),
       url('../../_static/Cadman.ttf') format('truetype');
}

@font-face {
  font-family: 'Cadman';
  font-weight: 700;
  src: url('../../_static/CadmanBold.woff2') format('woff2'),
       url('../../_static/CadmanBold.woff') format('woff'),
       url('../../_static/CadmanBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cadman';
  font-weight: 700;
  font-style: italic;
  src: url('../../_static/CadmanBoldItalic.woff2') format('woff2'),
       url('../../_static/CadmanBoldItalic.woff') format('woff'),
       url('../../_static/CadmanBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Cadman';
  font-style: italic;
  src: url('../../_static/CadmanItalic.woff2') format('woff2'),
       url('../../_static/CadmanItalic.woff') format('woff'),
       url('../../_static/CadmanItalic.ttf') format('truetype');
}

::backdrop {
  background-color: #0D0F4A;
}

section[data-paginate="true"]:after {
  padding: 0 0.25em 0 0;
  opacity: 0.25;
}

section.two-column {
  display: grid;
  column-gap: 1em;
  row-gap: 0;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title title"
                       "explanation explanation"
                       "left right";
  justify-content: stretch;
}

section.two-column h1 {
  grid-area: title;
}

section.two-column ul {
  margin: 0.5em 0;
}

section.two-column .explanation,
section.two-column p {
  grid-area: explanation;
}

section.two-column .left {
  grid-area: left;
}

section.two-column .right {
  grid-area: right;
}

section.two-column .self-centered {
  justify-self: center;
  align-self: center;
}

section.smaller-fonts {
  font-size: 36px;
}

section.title {
  background-color: #0D0F4A;
  color: #A4DBDE;
  display: grid;
  text-align: center;
  grid-template-rows: 1fr auto 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
}

section.title footer,
section.title footer:after,
section.title footer:before {
  display: none;
}

section {
  color: #0D0F4A;
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Cadman', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  height: 720px;
  justify-content: start;
  line-height: 1.4;
  padding: 30px 70px;
  position: relative;
  text-align: start;
  width: 1280px;
  word-wrap: break-word;
  z-index: 0;
  gap: 0.25rem;
}

section.odd {
  background-color: #E0EAF8;
}

section.even-light {
  background-color: #fed3d3;
}

section.even {
  background-color: #3F64DD;
  color: #E0EAF8;
}

section.even .highlight strong {
  color: #0D0F4A;
}

section footer::before {
  content: url('data:image/svg+xml;utf8,<svg width="38" viewBox="0 0 72 71" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(0.0990905,4.14878e-20,-4.14878e-20,-0.0987517,-1.76787,70.9887)"><path d="M397.551,718.861L397.551,682.633L406.437,681.835C487.323,674.658 562.968,638.43 618.563,580.329C665.386,531.342 693.981,472.557 704.804,403.291C707.652,384.722 707.652,335.278 704.804,316.709C695.576,257.241 673.247,205.861 637.133,160.633C627.108,148.101 600.108,120.987 587.804,111.19C555.563,85.557 518.424,65.506 480.032,53.203C466.133,48.759 440.158,42.152 436.399,42.152C435.487,42.152 435.146,48.873 435.146,65.392L435.146,88.633L443.462,90.57C465.108,95.81 489.373,104.924 509.196,115.291C585.297,155.051 638.728,225 655.019,306.456C676.323,412.405 633.487,519.266 543.943,583.519C502.816,613.025 457.247,629.886 402.449,636.038L397.551,636.608L397.551,514.367L405.867,513C438.677,507.759 475.247,487.139 497.234,461.392C523.437,430.633 535.513,398.734 535.513,360C535.513,307.709 510.677,261.57 466.361,231.38C449.842,220.215 424.323,209.962 405.867,207L397.551,205.633L397.551,168.494L401.88,169.177C452.234,177.266 487.778,195.494 520.816,230.013C555.222,265.899 573.108,310.329 573.108,360C573.108,409.785 555.335,453.873 520.703,490.215C504.867,506.62 491.652,516.873 472.171,527.81C463.968,532.253 447.108,539.772 439.475,542.278L435.146,543.646L435.146,568.595C435.146,582.266 435.487,593.544 435.829,593.544C437.994,593.544 458.5,587.051 468.297,583.177C524.804,561.19 573.222,516.759 599.196,463.101C638.158,382.671 628.703,288.342 574.361,216.456C566.044,205.405 545.196,183.987 534.259,175.101C508.399,154.253 474.335,136.709 443.12,128.278C431.044,124.975 407.462,120.759 401.424,120.759L397.551,120.759L397.551,1.139L402.449,1.139C415.437,1.139 448.475,6.494 469.892,11.962C607.057,47.392 712.209,157.215 738.639,292.785C743.652,318.873 744.449,327.304 744.449,360C744.449,392.696 743.652,401.127 738.639,427.215C732.601,457.975 723.032,486.342 708.563,515.506C661.741,610.633 574.361,681.038 469.892,708.038C448.475,713.506 415.437,718.861 402.449,718.861L397.551,718.861Z" style="fill:rgb(0,144,217);fill-rule:nonzero;"/></g><g transform="matrix(0.0990905,4.14878e-20,-4.14878e-20,-0.0987517,-1.76787,70.9887)"><path d="M348.563,710.203C314.614,707.013 280.323,699.38 251.386,688.671C232.589,681.608 199.437,665.203 183.259,654.835C109.778,607.671 56.348,537.266 31.968,455.468C21.829,421.861 17.842,393.38 17.842,356.013C17.728,297 29.462,248.013 55.892,195.949C90.981,127.025 146.804,72 216.981,37.481C260.5,16.063 298.892,5.468 350.614,0.57L357.677,-0.114L357.677,37.139L344.006,38.506C217.892,51.152 108.867,138.759 70.019,258.722C46.778,330.608 50.31,409.443 79.93,478.481C115.816,562.329 186.449,627.38 273.943,657.114C284.88,660.873 307.209,666.797 315.297,668.165L320.082,668.962L320.082,623.62L311.31,621.57C277.475,613.709 239.766,595.937 209.576,573.494C194.538,562.329 166.057,533.962 154.892,518.924C127.551,482.468 110.576,442.253 102.829,395.886C99.867,378.114 99.867,332.886 102.829,315C112.513,256.785 137.006,207.797 177.108,166.443C223.703,118.367 283.285,89.658 350.614,82.595L357.677,81.797L357.677,203.354L349.019,204.835C330.677,207.684 308.12,217.025 288.981,229.785C278.842,236.506 257.424,257.696 250.361,267.835C238.171,285.608 229.627,305.544 224.842,327.532C222.108,340.177 222.108,370.709 224.842,383.354C229.627,405.342 238.171,425.278 250.361,443.051C257.424,453.19 278.842,474.38 288.981,481.101C308.12,493.861 330.677,503.203 349.019,506.051L357.677,507.532L357.677,525.987C357.677,547.747 359.842,545.924 338.88,541.709C272.462,528.266 217.551,480.646 195.563,417.304C170.272,344.734 191.462,265.101 249.791,213.38C266.082,198.797 292.285,183.418 312.449,176.468L320.082,173.734L320.082,125.316L317.006,126C308.234,127.937 285.905,136.025 275.196,141.152C200.12,176.468 149.082,246.646 138.943,328.101C137.462,340.519 137.462,370.367 139.057,382.785C150.905,478.823 220.285,558.797 313.589,583.861C326.462,587.392 347.424,591.266 353.348,591.266L357.677,591.266L357.677,710.886L355.171,710.658C353.69,710.658 350.728,710.316 348.563,710.203Z" style="fill:rgb(61,57,53);fill-rule:nonzero;"/></g></svg>');
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0em;
  right: 1.25em;
  background-color: transparent;
}

section>*:first-child,
section[data-header]> :nth-child(2) {
  margin-top: 0;
}

section>*:last-child,
section [data-footer]> :nth-last-child(2) {
  margin-bottom: 0;
}

section p,
section blockquote {
  margin: 0 0 15px;
}

section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
  margin: 0;
}

section h1 strong,
section h2 strong,
section h3 strong,
section h4 strong,
section h5 strong,
section h6 strong {
  color: #009dd5;
  font-weight: inherit;
}

section h1::part(auto-scaling),
section h2::part(auto-scaling),
section h3::part(auto-scaling),
section h4::part(auto-scaling),
section h5::part(auto-scaling),
section h6::part(auto-scaling) {
  max-height: 660px;
}

section h1 {
  font-size: 2em;
}

section h3 {
  font-size: 1.4em;
  letter-spacing: 2px;
}

section h4 {
  font-size: 1.2em;
  letter-spacing: 2px;
}

section h5 {
  font-size: 1em;
  letter-spacing: 1px;
}

section h6 {
  font-size: 0.8em;
  letter-spacing: 1px;
}

section header,
section footer {
  left: 0.5em;
  letter-spacing: 1px;
  position: absolute;
  right: 70px;
  text-shadow: 0 1px 0 rgba(#fdfcff, 0.8);
  z-index: 1;
  opacity: 0.25;
}

section header {
  font-size: 0.45em;
  top: 30px;
}

section footer {
  font-size: 0.75em;
  bottom: 0.25em;
}

section a {
  color: #009dd5;
  text-decoration: none;
}

section a:hover {
  color: color-mix(in srgb, #202228 25%, #009dd5);
  text-decoration: underline;
}

section ul,
section ol {
  /* margin: 0 auto; Uncommenting this would center bullet points.*/
  text-align: left;
}

section>ul,
section>ol {
  margin-bottom: 15px;
}

section code {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  letter-spacing: 0;
}

section>code,
section *:not(pre)>code {
  background-color: #F0F0F0;
  filter: drop-shadow(0 4px 4px rgba(#000, 1));
  color: #202228;
  margin: -0.2em 0.2em 0.2em;
  padding: 0.2em;
}

section pre {
  --preserve-aspect-ratio: xMidYMid meet;
  filter: drop-shadow(0 4px 4px rgba(#000, 1));
  font-size: 70%;
  line-height: 1.15;
  margin: 15px 0 30px;
  text-align: left;
}

section pre::part(auto-scaling) {
  max-height: 570px;
}

section pre>code {
  background: #F0F0F0;
  filter: drop-shadow(0 4px 4px #A0A0A0);
  box-sizing: content-box;
  color: #202228;
  display: block;
  margin: 0 auto;
  min-width: 456px;
  padding: 0.4em 0.6em;
}

section[data-size='4:3'] pre>code {
  min-width: 328px;
}

section table {
  border-collapse: collapse;
  margin: 0 auto 15px;
}

section table>thead>tr>td,
section table>tbody>tr>td,
section table>thead>tr>th,
section table>tbody>tr>th {
  padding: 0.15em 0.5em;
}

section table>thead>tr>td,
section table>thead>tr>th {
  border-bottom: 3px solid currentColor;
}

section table>tbody>tr:not(:last-child)>td,
section table>tbody>tr:not(:last-child)>th {
  border-bottom: 1px solid currentColor;
}

section blockquote {
  font-size: 90%;
  line-height: 1.3;
  padding: 0 2em;
  position: relative;
  z-index: 0;
}

section blockquote::before,
section blockquote::after {
  /* content: url('./assets/uncover-quote.svg');  Need to add asset */
  height: auto;
  pointer-events: none;
  position: absolute;
  width: 1em;
  z-index: -1;
}

section blockquote::before {
  left: 0;
  top: 0;
}

section blockquote::after {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

section blockquote>*:last-child {
  margin-bottom: 0;
}

section mark {
  color: #009dd5;
  background: transparent;
}

section.single-image img {
  display: block;
  margin: auto;
  border: 1px solid #333;
}

div[has-columns] ol,
div[has-columns] ul {
  margin-top: 0;
}

/*
Inspired by Colorbrewer theme
Original: https://github.com/mbostock/colorbrewer-theme (c) Mike Bostock <mike@ocks.org>
Ported by Fabrício Tavares de Oliveira
*/

.hljs-string,
.hljs-meta,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
  color: #756bb1;
}

.hljs-comment,
.hljs-quote {
  color: #636363;
}

.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-bullet,
.hljs-link {
  color: #53a452;
}

.hljs-deletion,
.hljs-variable {
  color: #88f;
}


.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-doctag,
.hljs-type,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-strong {
  color: #235FA4;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-attribute {
  color: #FF4242;
}

.yellow-highlight {
  background-color: yellow;
}
